/* VARIABLES */

$negro: #000000;
$borders: 0.4px solid rgba(34, 34, 34, 0.5);

/* MIXIN */

@mixin imagen($height, $width){
        height: $height;
        width: $width;
        border-radius: 50%;
}

@mixin texto($color) {
        font-weight: 400;
        font-size: 10px;
        color: $color;
}

@mixin links {
        font-weight: 500;
        font-size: 12px;
        color: #1CA0F6;
}
