@import "./variables.scss";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    h1 {
        font-weight: 400px;
        font-size: 25px;
        color: $negro;
    }
    img {
        @include imagen(50px, 50px);
    }
    input {
        width: 400px;
        height: 40px;
        border-radius: 5px;
        border: $borders;
        padding-left: 20px;
        display: none;
    }
}

.upper-section {
    display: flex;
    justify-content: space-evenly;
    width: 364px;
    margin: 25px auto;
    border: $borders;
    padding: 20px 30px;
    border-radius: 5px;
    img {
        @include imagen(60px,60px);
    }
    .hide{
        display: none;
    }
}

.lower-section {
    width: 360px;
    margin: 27px auto;
    border: $borders;
    border-radius: 5px;
    margin-bottom: 95px;
    .first{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: $borders;
        padding: 9px;
        .foto-nombre{
            display: flex;
            align-items: center;
            img{
                @include imagen(50px, 50px);
            }
            h2{
                font-size: 15px;
                margin-left: 9px;
            }
        }
    }
    .foto-grande {
        height: 320px;
        width: 320px;
        margin: 20px 20px 10px;
    }
    .icons {
        display: flex;
        font-size: 24px;
        i{
            margin-left: 20px;
        }
    }
    p{
        margin: 11px 20px;
    }
    .uno, .tres, .cuatro {
        @include texto($negro);
    }
    .dos {
        @include texto(#A49B9B);
    }
}

.lateral{
    display: none;
}

footer{
    background-color: black;
    text-align: center;
    padding: 8px;
    p{
        @include texto(#FFFFFF);
    }
}

@media (min-width: 850px) {
    nav{
        input{
            display: inline-block;
        }
    }    

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 60px;
        .upper-section {
            width: 500px;
            .hide{
                display: block;
            }
        }
        .lateral{
            width: 284px;
            display: block;
            margin: 0px auto;
            padding-top: 25px;
            .arriba{
                display: flex;
                align-items: center;
                margin-bottom: 34px;
                justify-content: space-between;
                .arriba-uno{
                    display: flex;
                    align-items: center;
                }
                img{
                    @include imagen(50px, 50px);
                    margin-right: 13px;
                }
                h3{
                    @include texto($negro);
                    font-weight: 500;
                    margin-bottom: 4px;
                }
                p{
                    @include texto(#808080);
                    letter-spacing: 5px;
                }
                .link {
                    @include links
                }
            }
            .sugerencias{
                font-weight: 700;
                font-size: 10px;
                color: #808080;
                margin-bottom: 10px;
            }
            .medio{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
                .medio-uno{
                    display: flex;
                    align-items: center;
                    img{
                        @include imagen(50px, 50px);
                        margin-right: 4px;
                    }
                    h3{
                        @include texto($negro);
                        font-weight: 500;
                    }
                }
                h3{
                    @include links;
                }
            }
        }
    }
}